* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #baf7df;
  background: linear-gradient(90deg, #d1faea 0%, #ffffff 100%);
  font-family: "Roboto Mono", monospace;
}

h1 {
  color: #0a5c3b;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 5px #fff;
  margin: 20px 0;
}

.outer-container {
  padding: 0 10px;
}

.main-container {
  background: #fff;
  max-width: 500px;
  margin: 0 auto 70px;
  padding: 25px;
  border-radius: 30px;
  border: 1px solid #d2f9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
}

.rest-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
}

.pomodoro-box,
.short-rest-box,
.long-rest-box {
  padding: 8px 15px;
  border-radius: 5px;
  color: #14b876;
  border: 1px solid #14b876;
  cursor: pointer;
  font-size: 1rem;
}

.active-container {
  background: #12a168;
  color: #fff;
  border: none;
  border: 1px solid #14b876;
}

.timer-container {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #14b876;
  font-size: 3.5rem;
  color: #0a5c3b;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Roboto Mono", monospace;
}

.btn-md {
  padding: 6px 16px;
  border-radius: 8px;
}

.btn:active {
  transform: translateY(5px) scale(0.96);
}

.btn-start {
  background: #12a168;
  color: #fff;
  box-shadow: 0 2px 3px #75f0bf;
}

.btn-secondary {
  background: #ff6666;
  color: #fff;
  box-shadow: 0 2px 3px #ff9999;
}

.btn-reset {
  background: #cccccc;
  color: #4d4d4d;
  box-shadow: 0 2px 3px #b3b3b3;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 8px 20px;
  bottom: 0;
  width: 100vw;
  background: #052e1e;
  box-shadow: 0 -5px 15px rgb(5, 46, 30, 0.3);
}

footer a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

footer img {
  width: 50px;
  filter: invert(1);
}

/*OverLay Style  Starts Here*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgb(0, 0, 0, 0.5);
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.start-alert-box {
  width: 350px;
  background: #d1faea;
  border-radius: 20px;
  padding: 30px;
  display: none;
  flex-direction: column;
  margin: 20px;
  box-shadow: 0 5px 20px rgb(0, 0, 0, 0.2);
  position: relative;
}

.start-alert-box h2 {
  font-size: 1.5rem;
  color: #0a5c3b;
  margin-bottom: 15px;
}

.start-alert-box p {
  color: #0a5c3b;
  padding: 10px 20px;
  border: 1px solid #0a5c3b;
  border-radius: 5px;
  margin: 15px 0;
  font-weight: bold;
  cursor: pointer;
}

.start-alert-box p:hover {
  background: #12a168;
  color: #fff;
  border: none;
  border: 1px solid #14b876;
}

#cross-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  opacity: 0.6;
  cursor: pointer;
}

#cross-icon:hover {
  opacity: 0.8;
}

.time-alert-box {
  position: relative;
  padding: 40px 10px 20px;
  background: #fff9c4;
  border-radius: 10px;
  width: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.time-alert-box p {
  font-weight: bold;
  font-size: 2rem;
  color: #0a5c3b;
}

#bell-icon {
  width: 70px;
  position: absolute;
  top: -35px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  .btn {
    padding: 6px 13px;
    border-radius: 8px;
    font-size: 0.9rem;
  }

  .main-container {
    margin: 0 auto;
    gap: 25px;
    padding: 15px;
    border-radius: 20px;
  }

  .pomodoro-box,
  .short-rest-box,
  .long-rest-box {
    padding: 5px;
    font-size: 0.9rem;
  }

  .timer-container {
    height: 220px;
    width: 220px;
    border: 4px solid #14b876;
    font-size: 3rem;
    color: #0a5c3b;
  }

  .buttons-container {
    gap: 20px;
  }

  footer {
    padding: 5px 10px;
  }

  footer a {
    font-size: 0.9rem;
    gap: 5px;
  }

  footer img {
    width: 40px;
  }
}
